.alert {
  font-size: $font-size-base;
}

.alert-icon {
  margin-right: 0.75rem;
}

.docs main .alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-doks {
  background: $beige;
  color: $black;
}

/*
.alert-light {
  color: #215888;
  background: linear-gradient(-45deg, rgb(212, 245, 255), rgb(234, 250, 255), rgb(234, 250, 255), #d3f6ef);
}

.alert-light .alert-link {
  color: #215888;
}
*/

.alert-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.alert-primary {
  color: $white;
  background-color: $primary;
}

.alert a {
  text-decoration: underline;
}

.alert-primary .alert-link {
  color: $white;
}

/*
.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-primary .alert-link {
  color: #06357a;
}
*/

.alert-secondary {
  color: var(--bs-secondary-text);
  background-color: var(--bs-secondary-bg-subtle);
  border-color: var(--bs-secondary-border-subtle);
}

.alert-secondary .alert-link {
  color: var(--bs-secondary-text);
}

.alert-success {
  color: var(--bs-success-text);
  background-color: var(--bs-success-bg-subtle);
  border-color: var(--bs-success-border-subtle);
}

.alert-success .alert-link {
  color: var(--bs-success-text);
}

.alert-info {
  color: var(--bs-info-text);
  background-color: var(--bs-info-bg-subtle);
  border-color: var(--bs-info-border-subtle);
}

.alert-info .alert-link {
  color: var(--bs-info-text);
}

.alert-warning {
  color: var(--bs-warning-text);
  background-color: var(--bs-warning-bg-subtle);
  border-color: var(--bs-warning-border-subtle);
}

.alert-warning .alert-link {
  color: var(--bs-warning-text);
}

.alert-danger {
  color: var(--bs-danger-text);
  background-color: var(--bs-danger-bg-subtle);
  border-color: var(--bs-danger-border-subtle);
}

.alert-danger .alert-link {
  color: var(--bs-danger-text);
}

.alert-light {
  color: var(--bs-light-text);
  background-color: var(--bs-light-bg-subtle);
  border-color: var(--bs-light-border-subtle);
}

.alert-light .alert-link {
  color: var(--bs-light-text);
}

.alert-dark {
  color: var(--bs-dark-text);
  background-color: var(--bs-dark-bg-subtle);
  border-color: var(--bs-dark-border-subtle);
}

.alert-dark .alert-link {
  color: var(--bs-dark-text);
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 2;
  padding: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: 1.5rem;
  filter: invert(1) grayscale(100%) brightness(200%);
}

@include media-breakpoint-up(md) {
  .alert-dismissible .btn-close {
    background-size: 1.25rem;
  }
}

[data-global-alert="closed"] #announcement {
  display: none;
}

.alert code {
  background: darken($beige, 5%);
  color: $black;
  padding: 0.25rem 0.5rem;
}
