figure {
  margin: 0 0 1rem;
  display: inline-block;
}

figure img {
  margin-bottom: 0.5rem;
  line-height: 1;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  margin: 0.25rem 0 0.75rem;
  font-size: 0.875em;
  color: #6c757d;
}

.figure-caption {
  margin: 0.25rem 0 0.75rem;
}

figure.wide {
  margin: 2rem -1.5rem;
}

figure.wide .figure-caption {
  margin: 0.25rem 1.5rem 0.75rem;
}

@include media-breakpoint-up(md) {
  figure.wide {
    margin: 2rem -2.5rem;
  }

  figure.wide .figure-caption {
    margin: 0.25rem 2.5rem 0.75rem;
  }
}
@include media-breakpoint-up(lg) {
  figure.wide {
    margin: 2rem -5rem;
  }

  figure.wide .figure-caption {
    margin: 0.25rem 5rem 0.75rem;
  }
}

.blur-up {
  filter: blur(5px);
}

.blur-up.lazyloaded {
  filter: unset;
}

.img-simple {
  margin-top: 0.375rem;
  margin-bottom: 1.25rem;
}

.img-clickable {
  border: 3px solid transparent;
  margin-top: 0.375rem;
  margin-bottom: 1.25rem;

  .img-simple {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.img-clickable .badge {
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;  
}

.img-clickable .badge:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  margin-left: .5rem;
}

.img-clickable:hover {
  border: 3px solid $primary;

}

.img-clickable:hover .badge {
  opacity: 1;
}