table {
  @extend .table;

  margin: 0 0 2rem;

  &.nam-compat-status {

    tbody {
      border-top: 2px solid var(--bs-table-border-color);
    }

    th:first-child, td:first-child { 
      font-weight: bold;
      border-right: 2px solid var(--bs-table-border-color);
    }
    
    td[data-compat='yes'] {
      color: $white;
      background-color: #0D6EFD;
    }

    td[data-compat='partial'] {
      background-color: #FFC107;
    }

    td[data-compat='no'] {
      color: $white;
      background-color: #D81B60;
    }

    td[data-compat='limited'] {
      background-color: #D08828;
    }

    td[data-compat='n/a'] {
      @extend .text-muted;
      font-style: italic;
    }

    td[data-compat='--'] {
      @extend .text-muted;
    }
  }

}

[data-dark-mode] {
  table {
    &.nam-compat-status {
      td[data-compat='yes'] {
        color: inherit;
        background-color: #0D6EFD;
      }

      td[data-compat='partial'] {
        color: $black;
        background-color: #FFC107;
      }

      td[data-compat='no'] {
        background-color: #D81B60;
      }

      td[data-compat='limited'] {
        color: $black;
      }

    }
  }
}