<table class="table-bordered nam-compat-status processed">
<tr>
    <td data-compat="yes"> {{ i18n "compat-table-yes-key" }} </td>
    <td>{{ i18n "compat-table-yes-desc" }}</td>
</tr>
<tr>
    <td data-compat="partial"> {{ i18n "compat-table-partial-key" }} </td>
    <td>{{ i18n "compat-table-partial-desc" }}</td>
</tr>
<tr>
    <td data-compat="limited"> {{ i18n "compat-table-limited-key" }} </td>
    <td>{{ i18n "compat-table-limited-desc" }}</td>
</tr>
<tr>
    <td data-compat="no"> {{ i18n "compat-table-no-key" }} </td>
    <td>{{ i18n "compat-table-no-desc" }}</td>
</tr>
<tr>
    <td data-compat="n/a"> — </td>
    <td>{{ i18n "compat-table-na-desc" }}</td>
</tr>
</table>

<table class="table-bordered nam-compat-status processed">
<tr>
    <td>{{ i18n "oxo-key" }} </td>
    <td>{{ i18n "oxo-desc" }}</td>
</tr>
<tr>
    <td> {{ i18n "oxd-key" }} </td>
    <td>{{ i18n "oxd-desc" }}</td>
</tr>
<tr>
    <td> {{ i18n "dxo-key" }} </td>
    <td>{{ i18n "dxo-desc" }}</td>
</tr>
<tr>
    <td> {{ i18n "dxd-key" }} </td>
    <td>{{ i18n "dxd-desc" }}</td>
</tr>
</table>
