{{ $status := .Get "status" -}}

{{ if eq $status "outdated" -}}
<div class="alert text-danger border border-danger border-5 d-flex" role="alert">
  <div class="w-100 text-center">
    <span class="h4 fw-bold">The documentation on this page is out of date.</span><br/>
    <span class="fs-6">This documentation was last updated with <strong>{{ .Get "version" | default "an old version of the NAM" }}</strong>. It is in the process of being rewritten.</span>
  </div>
</div>
{{ else if eq $status "oldcontent" -}}
<div class="alert border border-warning border-5 d-flex" role="alert">
  <div class="w-100 text-center">
    <span class="h4 fw-bold">The documentation on this page may be out of date.</span><br/>
    <span class="fs-6">The contents of this document may reference older, obsolete NAM content.<br/> It, however, can still be used as a reference guide.</span>
  </div>
</div>
{{ else if eq $status "compatibility" -}}
<div class="alert border border-info border-5 d-flex mb-4" role="alert">
  <div class="w-100 text-center">
    <span class="h4 fw-bold text-info">Compatibility Warning - EA App and Origin Copies of SimCity 4 Deluxe</span><br/>
    <p class="fs-6 text-info">Digital copies of SimCity 4 Deluxe purchased via EA.com, the EA App, or the Origin Store feature an unpatched executable that is below the minimum requirements for this mod. The same is true if playing the game via an EA Play or Xbox Game Pass subscription. </p>
    <a href="/docs/reference/read-first/#notice-to-users-who-purchased-a-digital-copy-from-origin-or-use-ea-play-or-xbox-game-pass" role="button" class="btn btn-info btn-lg text-decoration-none">Read more</a>
  </div>
</div>
{{ else }}
<div class="alert border border-warning border-5 d-flex" role="alert">
  <div class="w-100 text-center">
    <span class="h4 fw-bold">The documentation on this page has not yet been written.</span>
  </div>
</div>
{{ end -}}