{{ $link := .Get "link" | default "docs/feature-guide" -}}
{{ $page := site.GetPage $link -}}
{{ $title := "" -}}

{{ if $page -}}
  {{ $title = printf "%s %s" $page.Title (i18n "feature-guide-suffix") -}}
{{ else -}}
  {{ $title = .Get "mod" | default (i18n "feature-guide-default") -}}
{{ end -}}

<div class="alert border border-4 border-primary-subtle rounded-4 alert-primary-subtle" role="alert">
    <p class="lead fw-bold my-0">{{ i18n "feature-guide-opening" }} <a href='{{ $link }}'>{{ $title }} {{ i18n "feature-guide-link-suffix" }}</a> {{ i18n "feature-guide-closing" }}.</p>
</div>
