{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) -}}
{{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}
<div class="text-center">
    {{ if .Get "clickable" }}<a href="{{ $image.RelPermalink }}" target="_blank" class="img-clickable position-relative d-block"><span class="badge rounded-pill text-bg-primary border border-primary text-uppercase d-flex align-items-center">Open image in new tab</span>{{ end -}}
        {{ if eq .Site.Params.options.lazySizes true -}}
        <img class="img-simple img-fluid lazyload blur-up{{ with .Get "class" }} {{.}}{{ end }}" src="{{ $lqip.RelPermalink }}" data-src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" {{ with .Get "alt" }}alt="{{.}}"{{ end }}>
      {{ else -}}
        <img class="img-simple img-fluid{{ with .Get "class" }} {{.}}{{ end }}" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" {{ with .Get "alt" }}alt="{{.}}"{{ end }}>
      {{ end -}}
    {{ if .Get "clickable" }}</a>{{ end -}}
</div>