.sans-serif {
    font-family: $font-family-sans-serif;
}

.serif {
    font-family: $font-family-serif;
}

.monospaced {
    font-family: $font-family-monospace;
}

// [data-preferred-font='default'] {
        
//     .docs-content {
//         line-height: 1.7;
//     }
// }

[data-preferred-font='serif'] {
    --bs-body-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    
    .docs-content {
        line-height: 1.7;
    }
}

[data-preferred-font='monospace'] {
    --bs-body-font-family: sfmono-regular, menlo, monaco, "Cascadia Mono", consolas, "Liberation Mono", "Courier New", monospace;
}